<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Aualizar Produto</title>
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    </head>

    <body>

        <div class="text-center m-3 mx-auto">
            <header th:insert="navbar.html :: nav"></header>
        </div>
        <main>
            <div class="row">
                <div class=" text-center mx-auto border border-black ">

                    <h2>Atualização de Produtos</h2> 

                    <p>Nestá pagina é pode ser feta a alteração de dados do produtodo:</p>
                    <form id="form-atualizar" th:action="@{/salvarProduto}" th:object="${produto}" method="POST">
                        <div class="mx-auto">
                            <input type="hidden" th:field="*{id}" />

                            <p>Nome:</p> 
                            <p> <input type="text" placeholder="Insira um Produto" th:field="*{titulo}"/> </p> 
                        </div>

                        <div class="mx-auto">
                            <p>Preço:</p> 
                            <p><input type="text" placeholder="Insira um Preço" th:field="*{preco}"/> </p> 
                        </div>
                        <div class="mx-auto">
                            <p>Quantidade:</p> 
                            <p><input type="text" placeholder="Insira a quantidade" th:field="*{quantidade}"/> </p>
                        </div>
                        <div class="mx-auto">
                            <p>Descrição/Observação</p> 
                            <p><textarea placeholder="Insira a Descrição/Observação" th:field="*{observacao}" rows="5"></textarea>  </p> 
                        </div>

                        <button class="btn btn-primary"  onclick="return validar();" type="submit">Enviar</button> 
                    </form> 

                </div>
            </div>
        </main>
        <footer class="py-4 py-md-5 mt-5" style="background-color: #e3f2fd;">
            <div class="row">
                <div class="col text-center mt-2">
                    <h4 class="fs-1">Contatos:</h4>
                    <div class="d-flex justify-content-center align-items-center">
                        <p class="mb-0 me-5" style="margin-right: 50px;">
                            Telefone: (xx) xxxxx-xxxx
                        </p>
                        <p class="mb-0 me-5" style="margin-right: 50px;">
                            E-mail: xxxxx@gmail.com
                        </p>
                        <img src="/img/instagram.svg" id="instagram" alt="Logo Instagram" style="width: 30px; height: 30px; margin-right: 40px;"></img>
                        <img src="/img/facebook.svg" id="face" alt="Logo Facebook" style="width: 30px; height: 30px;"></img>
                    </div>
                </div>
            </div>

        </footer>

        <script src="js/validacao.js"></script>
    </body>

</html>