<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Cadastro De Produto</title>
    </head>

    <body>

        <div class="text-center m-3 mx-auto">
            <header th:insert="navbar.html :: nav"></header>
        </div>

        <div> <h1>Cadastro de Produto</h1></div>

        <div> <h2>Preencha as informações do formulário para salvar o produto.</h2></div>
        
        <div>
                    <h3>Cadastro de Filme</h3> 
                <form >
                    <p>Nome: <input type="text" placeholder="Insira um Nome"/> </p>
                    
                    <p>Preço: <input type="text" placeholder="Insira uma Preço"/></p> 
                    
                    <p>Quantidade: <input type="text" placeholder="Insira a Quantidade"/></p>
                    
                    <p>Descrição/Observação: <input type="text" placeholder="Insira Descrição/Observação"/></p> 
                    
                    <button type="submit">Enviar</button> 
                </form> 
            
        
    </div>
   
        <footer>
            Telefone:(xx)xxxxx-xxxx
            E-mail: xxx@gmail.com

        </footer>
    </body>

</html>