<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Menu de Navegação</title>
    </head>
    <body>
        <nav>
            <a th:href="@{/}">HOME</a>
            <a th:href="@{/cadastroProduto}">Cadastro de Produtos</a>   
            <a th:href="@{/listaProduto}">Lista de Produtos</a>
        </nav>
        
    </body>
</html>
